.reveal section {
  height: 100%;
  align-items: flex-start;
  text-align: left !important;
}

.reveal section h1,
.reveal section h2,
.reveal section h3,
.reveal section h4,
.reveal section h5,
.reveal section h6 {
  text-align: left;
}

.reveal section ul {
  text-align: left;
  margin-left: 0;
  padding-left: 2rem;
}

.reveal section ol {
  text-align: left;
  margin-left: 0;
  padding-left: 2rem;
}

.reveal section h5 {
  color: rgb(31, 24, 80);

  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(200, 200, 218);
}

.two-column {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.two-column ul {
  flex: 2;
  margin-right: 1rem;
}

.two-column img {
  flex: 1;
  max-width: 100%;
  width: 400;
  height: auto;
  align-self: flex-start;
}

.output {
  background-color: #f4f5fe;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
}

.title-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
